header div[class*=col] {
    padding: 0;
}
header a.unit-link {
    color: #183051;
}
header a:hover {
    color: #183051;
}
.navbar-default {
    background-color: #fff;
    border-bottom-width: 2px;
}
.navbar-default .navbar-brand {
    height: 60px;
    height: 5rem;
    font-size: 24px;
    line-height: 36px;
    color: #183051;
}
.navbar-brand img {
    width: 120px;
    width: 10rem;
    padding: 8px 0;
    padding: 0.67rem 0;
    display: inline;
}
@media (max-width: 768px){
    .navbar-brand {
        width: 100%;
        text-align: center;
    }
}
@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 3px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.navbar-default .navbar-nav>li>a {
    padding-top: 3px;
    padding-bottom: 0;
    line-height: 60px;
    line-height: 5rem;
    height: 60px;
    height: 5rem;
}
.navbar-form {
    margin-top: 13px;
    margin-bottom: 13px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 18px;
    text-transform: uppercase;
    color: #183051;
    max-width: 120px;
    z-index: 11;
}
.navbar-default .navbar-nav>li>.icon-suiticon {
    padding-top: 5px;
    padding-top: 0.4167rem;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>.icon-suiticon.icon-suiticon-cart-2 {
    font-size: 26px;
    color: #666;
}

.navbar-default .navbar-toggle {
    position: absolute;
    border-color: transparent;
    margin: 0;
    font-size: 26px;
    padding-right: 15px;
    padding-right: 1.25rem;
    padding-left: 15rem;
    padding-left: 1.25rem;
    padding-top: 16px;
    color: #666;

}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-toggle.left {
    left: 0;
}
.navbar-toggle.right {
    right: 0;
}

.nav-menu {
    top: 62px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
}
.nav-menu-wrap {
    padding: 20px 40px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    margin-top: -500px;
    border-bottom: 1px solid #d9d9d9;
    opacity: 0;
}
@media (max-width: 768px) {
    .nav-menu-wrap {
        padding: 0;
    }
}
.nav-menu-wrap.active {
    opacity: 1;
}
.nav-menu .unit-box .unit-title {
    font-size: 15px;
}
.nav-menu .unit.pos-top {
    top: 11%;
}
.nav-menu .custom-select {
    position: relative;
    display: inline-block;
    width: 185px;
}
.nav-menu .custom-select > select {
    font-family: sans-serif;
    width:100%;
    background-image: none;
    background-color: #fff;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    text-indent: 10px;
    border-radius: 0;
    padding: 14px 22px;
    line-height: 1;
    font-size: 14px;
    color: #183051;
    border: 1px solid #183051;
}
@media (max-width: 768px){
    .nav-menu {
        position: absolute;
        visibility: hidden;
    }
    .navbar-default .navbar-nav>li>a {
        max-width: initial;
        padding-left: 30px;
        border-bottom: 1px solid #ccc;
    }
    .navbar-collapse {
        overflow-y: scroll;
    }
}

.custom-select:after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #999;
    right: 20px;
    top: 18px;
    pointer-events: none;
}
.nav-menu .unit-link {
    padding: 16px 22px 12px;
    font-size: 14px;
}
.nav-menu .custom-text {
    height: 44px;
    width: 50%;
    padding: 0 15px;
    font-size: 16px;
}
.category {

}
.category-title {
    font-size: 16px;
    color: #183051;
    margin-bottom: 5px;
}
.category-list {
    font-size: 0;
}
.category-item,
.category-item-fluid{
    display: inline-block;
    width: 50%;
    font-size: 16px;
}
@media (max-width: 768px) {
    .category-item,
    .category-item-fluid{
        width: 100%;
        display: block;
        padding: 0 30px;
    }
    .category-item.last a{
        border-bottom-width: 0;
    }
    .category-item a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #d9d9d9;
    }
    .nav-menu-wrap .category-item:last-child:not(.hidden-xs) a {
        /*border-bottom-width: 0;*/
    }
}
.category-item-fluid {
    width: 100%;
}


.float-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    z-index: -1;
}
.float-bg.visible {
    opacity: .75;
    z-index: 1030;
}
.mobile-menu {
    position: fixed;
    z-index: 1040;
    width: 80%;
    height: 100%;
    -o-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.mobile-menu-content {
    min-height: 100%;
    background: #fff;
    padding: 20px;
}

<!--  -->
.pop-modal .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    margin: -165px 0 auto -225px;
}
@media (max-width: 450px) {
    .pop-modal .modal-dialog {
        width: 90%;
        margin: -165px 0 auto -45%;
    }
}
.login-modal .modal-dialog {
    margin-top: -165px;
}
.regist-modal .modal-dialog {
    margin-top: -210px;
}
.pop-modal .modal-content {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.pop-modal.fade .modal-dialog {
    -webkit-transform: scale(0.65,0.65);
    -moz-transform: scale(0.65,0.65);
    -o-transform: scale(0.65,0.65);
    transform: scale(0.65,0.65);
}
.pop-modal.fade.in .modal-dialog {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.pop-modal .modal-body {
    font-size: 14px;
    padding: 40px 50px;
}
.pop-modal input.form-control,
.pop-modal .btn {
    border-radius: 0;
    height: 45px;
    box-shadow: none;
    font-size: 16px;
}
.pop-modal .red {
    color: rgb(232, 72, 72);
}
.pop-modal input.form-control.error {
    border-color: rgb(232, 72, 72);
}
.pop-modal input.form-control.valid {
    border-color: #449d44;
}
.pop-modal label.error {
    margin-bottom: 0;
    color: rgb(232, 72, 72);
}
.pop-modal .with-icon {
    position: relative;
}
.pop-modal .with-icon .fa {
    position: absolute;
    font-size: 24px;
    color: #999;
    left: 0;
    top: 0;
    height: 45px;
    line-height: 45px;
    width: 40px;
    text-align: center;
}
.pop-modal .with-icon .fa+input {
    padding-left: 40px;
}

.error-msg {
    display: none;
    padding: 10px 35px 10px 15px;
    border-radius: 0;
    margin-bottom: -5px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 400px;
}
@media (max-width: 768px) {
    .nav-menu-wrap .input-group{
        display: block;
        padding: 10px 30px;
    }
    .nav-menu-wrap .input-group > span{
        height: 44px;
        line-height: 44px;
        display: inline-block;
    }
    .nav-menu .custom-select {
        width: 40%;
        float: right;
    }
    .nav-menu .unit-link {
        margin-top: 15px;
        margin-left: 0!important;
        display: block;
    }
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav-menu .custom-text {
        width: 100%;
    }
}