header div[class*=col] {
    padding: 0;
}
header a.unit-link {
    color: #183051;
}
header a:hover {
    color: #183051;
}
.navbar-default {
    background-color: #fff;
    border-bottom-width: 2px;
}
.navbar-brand {
    height: 5rem;
}
.navbar-brand img {
    width: 10rem;
    padding: 0.67rem 0;
    display: inline;
}
@media (max-width: 768px){
    .navbar-brand {
        width: 100%;
        text-align: center;
    }
}
@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 3px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.navbar-default .navbar-nav>li>a {
    padding-top: 3px;
    padding-bottom: 0;
    line-height: 5rem;
    height: 5rem;
}
.navbar-form {
    margin-top: 13px;
    margin-bottom: 13px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 18px;
    text-transform: uppercase;
    color: #183051;
    max-width: 120px;
}
.navbar-default .navbar-nav>li>.icon-suiticon {
    padding-top: 0.4167rem;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>.icon-suiticon.icon-suiticon-cart-2 {
    font-size: 26px;
    color: #666;
}

.navbar-default .navbar-toggle {
    position: absolute;
    border-color: transparent;
    margin: 0;
    font-size: 26px;
    height: 100%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 16px;
    color: #666;

}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-toggle.left {
    left: 0;
}
.navbar-toggle.right {
    right: 0;
}

.nav-menu {
    top: 62px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
}
.nav-menu-wrap {
    padding: 20px 40px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    margin-top: -500px;
    border-bottom: 1px solid #d9d9d9;
    opacity: 0;
}
.nav-menu-wrap.active {
    opacity: 1;
}
.nav-menu .unit-box .unit-title {
    font-size: 15px;
}
.nav-menu .unit.pos-top {
    top: 11%;
}
.nav-menu .custom-select {
    position: relative;
    display: inline-block;
    width: 185px;
}
.nav-menu .custom-select > select {
    width:100%;
    background-image: none;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 10px;
    border-radius: 0;
    padding: 14px 22px;
    line-height: 1;
    font-size: 14px;
    color: #183051;
    border: 1px solid #183051;
}
.custom-select:after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #999;
    right: 20px;
    top: 18px;
    pointer-events: none;
}
.nav-menu .unit-link {
    padding: 14px 22px 13px;
    font-size: 14px;
}
.nav-menu .custom-text {
    height: 44px;
    width: 50%;
    padding: 0 15px;
    font-size: 16px;
}
.category {

}
.category-title {
    font-size: 16px;
    color: #183051;
    margin-bottom: 5px;
}
.category-list {
    font-size: 0;
}
.category-item,
.category-item-fluid{
    display: inline-block;
    width: 50%;
    font-size: 18px;
}
.category-item-fluid {
    width: 100%;
}


.float-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    z-index: -1;
}
.float-bg.visible {
    opacity: .75;
    z-index: 1030;
}
.mobile-menu {
    position: fixed;
    z-index: 1040;
    width: 80%;
    height: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
}
.mobile-menu-content {
    min-height: 100%;
    background: #fff;
    padding: 20px;
}
