<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
	

    <typeAliases>
		<typeAlias type="com.goodlaike.framework.dao.support.Pagination" alias="pagination"/>
		<typeAlias type="java.util.List" alias="list"/>
		<package name="com.goodlaike.henghua.entity.model" />
	</typeAliases>

</configuration>
