<%for(var i = 0; i < list.length; i++){%>
    <!--<%if(i % 4 == 0){%>-->
        <!--<div class="row">-->
    <!--<%}%>-->
        <div class="col-sm-3 product-item">
            <a href="/product/sample/<%=list[i].id%>">
                <img src="http://www.jshenghua.com:82/Thumb/<%=list[i].image%>" class="img-responsive" width="100%"/>
                <div class="product-desc mt10 pl5">
                    <div><span class="head"><%=list[i].name%></span>  -  <span class="f16"><%=list[i].serialNo%></span></div>
                </div>
            </a>
        </div>
    <!--<%if(i % 4 == 3 || i == list.length-1){%>-->
    <!--</div>-->
    <!--<%}%>-->
<%}%>
